# About Series

- Series 란?
  Data의 컬럼이 1개인 자료구조이며, 인덱스와 1개의 열로 구성되어 있음

## Series 만드는 방법

In [1]:
import pandas as pd

In [5]:
# Data Type이 '리스트'인 경우

ls1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
ls2 = [1, 2, 3, 'Apple', 'play', 6, 7, 8, 9]

sr1 = pd.Series(ls1)
sr1

sr2 = pd.Series(ls2)
sr2

0        1
1        2
2        3
3    Apple
4     play
5        6
6        7
7        8
8        9
dtype: object

In [6]:
# Series에 Name 설정

sr1.name = "Number"
sr2.name = "Word"
sr2

0        1
1        2
2        3
3    Apple
4     play
5        6
6        7
7        8
8        9
Name: Word, dtype: object

In [9]:
# Data Type이 '딕셔너리'인 경우
dic1 = {'a':1, 'b':2, 'c':3, 'd':4}

sr3 = pd.Series(dic1)
sr3
sr3.name = "Number"
sr3

a    1
b    2
c    3
d    4
Name: Number, dtype: int64

## 삼성전자 종가 Series로 불러오기

In [22]:
import pandas as pd

# squeeze 옵션은 Pandas 1.2.0 이후 제거되었으므로, squeeze=True 없이 실행
# 이전 squeeze=True의 기능을 대체하려면 squeeze() 메서드를 따로 적용
a = pd.read_csv('삼성전자 종가.csv', index_col=0, header = 0).squeeze("columns")
a

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

## Series Index & Value

In [25]:
import pandas as pd

samsung_price = pd.read_csv('삼성전자 종가.csv', index_col=0, header = 0).squeeze("columns")
samsung_price

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [26]:
samsung_price.index

Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-15',
       ...
       '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
       '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17'],
      dtype='object', name='Date', length=977)

In [29]:
if '2020-12-15' in samsung_price.index:
    print(samsung_price.loc['2020-12-15'])

# loc 특정한 인덱스의 값이 있는지 확인

73800

In [31]:
samsung_price.iloc[100]

# iloc 인덱스(번호) 값 가져오기

49500

## Series에 새로운 행을 추가

In [32]:
import pandas as pd

samsung_price = pd.read_csv('삼성전자 종가.csv', index_col=0, header = 0).squeeze("columns")
samsung_price

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [37]:
# 총 길이는?
#samsung_price.index[samsung_price.shape[0]-1]
samsung_price.shape

(977,)

In [41]:
samsung_price.loc['2021-12-20'] = 77100
samsung_price

samsung_price.loc['2021-12-16'] = 100
samsung_price

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-14    77000
2021-12-15    77600
2021-12-16      100
2021-12-17    78000
2021-12-20    77100
Name: Close, Length: 978, dtype: int64

## 두개의 Series 연결

In [9]:
import pandas as pd

series1_samsung = pd.read_excel('samsung_excel.xlsx', sheet_name = 'Sheet1', index_col = 0).squeeze("columns")
series1_samsung

series2_samsung = pd.read_excel('samsung_excel.xlsx', sheet_name = 'Sheet2', index_col = 0).squeeze("columns")
series2_samsung


# Pandas 1.3.0 이후 버전에서 Series.append()가 제거되었음
# pd.concat() 사용

series_samsung = pd.concat([series1_samsung, series2_samsung], ignore_index=False)
series_samsung

0      51020
1      51620
2      51080
3      52120
4      52020
       ...
977    77100
978    78100
979    79400
980    79900
981    80500
Name: Close, Length: 982, dtype: int64